body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div > p{
  /* background-color: yellow; */
}

[href="#"]{
  /* background-color: red; */
}
div p{
  /* background-color: green; */
}
div ~ p{
  background-color: blue;
}
div + p{
  background-color: black;
}


